.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: -1;
}
.featuredImg{
    width: 350px;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%)

    
 
    
}
.featuredImg:hover{
    filter: brightness(100%);

}

.featuredTitles{
    position: absolute;
    bottom: -50px;
   color: white;
   margin-left: 10px;
   font-weight: 900;
   
   /* font-family: Arial, Helvetica, sans-serif; */

}
