.navbar{
    height: 80px;
    /* background-color: #003580e3; */
    display: flex;
    justify-content: center;
    z-index: 2;
}

.navContainer{
   width: 100%;
   max-width: 1024px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
    font-weight: 500;
    font-size: 29px;

}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    border: 1px  white;
      background-color: #0943957f;
}
.navButtonLog{
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
  border: 1px solid white;
      background-color: #094395a2;
      
}